@{
    ViewBag.Title = "Keep track of your tasks";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>Add, remove and complete items below.</p>
        </div>
    </section>
}

<div data-ng-controller="HomeController as home">
    <h3>Todo:</h3>
    <form data-ng-submit="home.addTodo()" method="post">
        <label for="Description">Description</label>
        <input data-ng-model="home.description" id="Description" name="Description" 
               placeholder="Enter items here :)" tabindex="1" type="text" value="" >
        <input type="submit" value="Add" name="addTodo" />
    </form>

    <ul id="angular-items-list" data-ng-class="home.itemsClass">
        <li data-ng-repeat="item in home.todos" id="item.Id" class="todo-item {{item.Archived ? 'archived' : ''}} {{item.ElapsedDaysClass}}">
            @* TODO: elapsed days logic *@
            <span class="todo-item-actions" 
                  item-actions
                  data-ng-attr-todo-item="item"
                  data-ng-attr-on-archive="home.archive(item)"
                  data-ng-attr-on-delete="home.delete(item)"></span>
            <span class="todo-item-details {{item.hide ? 'disable' : ''}}"><strong>{{item.Completed}}</strong> {{item.Description}}</span>
        </li>
    </ul>
</div>

<!-- TODO: Move this! -->
<script type="text/javascript" src="/Scripts/Angular/Controllers/homeController.js"></script>
<script type="text/javascript" src="/Scripts/Angular/Directives/homeDirectives.js"></script>